* {
    text-transform: capitalize;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    color: white;
    text-decoration: none;
    background-color: #220a4e;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10%;
}
.container .content {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    border: 3px solid yellow;
    width: 100%;
    max-width: 750px;
    height: 500px;
    padding: 50px;
    box-shadow: rgb(165, 173, 11) 0px 0px 0px 2px, rgba(186, 174, 5, 0.65) 0px 4px 6px -1px, rgb(228, 235, 8) 0px 1px 0px inset;
}
.container .content .left {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}
.container .content .head {
    padding: 0 80px;
    font-size: 20px;
    font-weight: bold;
}
.container .content .left .data .user {
    border-bottom: 2px solid #eee;
    width: 250px;
}
.container .content .left .data .user .name {
    margin-right: 50px;
    border: none;
    outline: none;
    padding-bottom: 20px;
}
.container .content .left .data .user .name::placeholder {
    color: white;
    font-size: 15px;
}
.container .content .left .data .pass {
    border-bottom: 2px solid #eee;
    padding-top: 25px;
}
.container .content .left .data .pass .word {
    margin-right: 50px;
    border: none;
    outline: none;
    padding-bottom: 20px;
}
.container .content .left .data .pass .word::placeholder {
    color: white;
    font-size: 15px;
}
.container .content .login-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 18px;
    background-color: yellowgreen;
    width: 250px;
    height: 40px;
    margin: 0 30px;
    border: 2px solid #eee;
    border-radius: 20px;
    box-shadow:rgba(17, 17, 26, 0.1) 0px 16px 56px;
}
.container .content .login-btn a {
    background-color: yellowgreen;
}
.container .content .left .info p {
    font-size: 14px;
}
.container .content .left .info span {
    font-size: 16px;
}
.container .content .right {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 80px 0 0 50px;
}
.container .content .right h1 {
    font-size: 40px;
    margin-bottom: 50px;
}
.container .content .right p {
    font-size: 15px;
}